<?xml version="1.0" encoding="utf-8"?>
<Configuration status="debug" name="demo" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
        <File name="file" fileName="${env:USERPROFILE}/sample-log4j2.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="logginglog4j" level="info">
            <AppenderRef ref="file" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>